site_name: OpenAQ Python SDK

repo_url: https://github.com/openaq/openaq-python
repo_name: openaq/openaq-python

theme:
  name: "material"
  logo: assets/logo.svg
  favicon: assets/favicon.ico
  palette:
    primary: custom
  features:
    - search.suggest
    - content.tabs.link
    - navigation.tracking
    - navigation.path
    - navigation.top
  icon:
    repo: fontawesome/brands/github
  custom_dir: docs/overrides

extra:
  analytics:
    provider: plausible
    property: python.openaq.org
  social:
    - icon: fontawesome/brands/slack 
      link: https://join.slack.com/t/openaq/shared_invite/zt-yzqlgsva-v6McumTjy2BZnegIK9XCVw
    - icon: fontawesome/brands/x-twitter 
      link: https://x.com/@openaq
    - icon: fontawesome/brands/github 
      link: https://github.com/openaq
    - icon: fontawesome/brands/medium 
      link: https://openaq.medium.com

extra_css:
  - stylesheets/extra.css

plugins:
  - mkdocstrings
  - search
  - social
  - privacy

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.critic
  - pymdownx.tilde
  - toc:
      title: On this page

nav:
  - About OpenAQ Python: index.md
  - Tutorial:
    - tutorial/getting-started.md
  - How-To Guides:
    - Working with the client: how-to-guides/working-with-the-client.md
    - Paging results: how-to-guides/paging-results.md
  - Reference:
    - OpenAQ: reference/openaq.md
    - AsyncOpenAQ: reference/asyncopenaq.md
    - Responses: reference/responses.md
    - Exceptions: reference/exceptions.md
